<header class="bg">
    <div class="container">
      <div class="row">
        <div class="col align-self-end">
            <div class="destacado">
                <h3>Producto del dia</h3>
                <h1>Sillón Irene</h1>
                <h2>S/ 2200.00</h2>
                <button class="btn btn-danger">Añadir</button>
            </div>
        </div>
      </div>
    </div>
</header>
<section class="section container">
  <div class="categoria">
    <div class="text">
      <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, recusandae.</h1>
    </div>
    <div class="fotos">
      <img src="./assets/imgBaño.jpg" alt="">
      <img src="./assets/imgCome.jpg" alt="">
    </div>
    <div class="fotos">
      <img src="./assets/imgDormi.jpg" alt="">
      <img src="./assets/imgSala.jpg" alt="">
    </div>
  </div>
  <div class="titulo">
    <h1>Catalogo</h1>
  </div>
    <!--Slider-->
  <div class="arrow">
    <div class="catalogo">
      <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
          <div class="producto carousel-item active">
            <img src="./assets/sillon2.jpg" alt="">
            <h5 class="sale">SALE</h5>
            <h1>Swan</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, commodi.</p>
            <div class="costo">
              <div class="precio">
                <h4>5465465</h4>
                <h2>4564654</h2>
              </div>
              <div class="boton">
                <button>Añadir</button>
              </div>
            </div>
          </div>
          <div class="producto carousel-item">
            <img src="./assets/armario.jpg" alt="">
            <h5 class="sale">SALE</h5>
            <h1>Swan</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, commodi.</p>
            <div class="costo">
              <div class="precio">
                <h4>5465465</h4>
                <h2>4564654</h2>
              </div>
              <div class="boton">
                <button>Añadir</button>
              </div>
            </div>
          </div>
          <div class="producto carousel-item">
            <img src="./assets/sillon3.jpg" alt="">
            <h5 class="sale">SALE</h5>
            <h1>Swan</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, commodi.</p>
            <div class="costo">
              <div class="precio">
                <h4>5465465</h4>
                <h2>4564654</h2>
              </div>
              <div class="boton">
                <button>Añadir</button>
              </div>
            </div>
          </div>
          <div class="producto carousel-item">
            <img src="./assets/buton.png" alt="">
            <h5 class="sale">SALE</h5>
            <h1>Swan</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, commodi.</p>
            <div class="costo">
              <div class="precio">
                <h4>5465465</h4>
                <h2>4564654</h2>
              </div>
              <div class="boton">
                <button>Añadir</button>
              </div>
            </div>
          </div>
          <div class="producto carousel-item">
            <img src="./assets/sillon.jpg" alt="">
            <h5 class="sale">SALE</h5>
            <h1>Swan</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, commodi.</p>
            <div class="costo">
              <div class="precio">
                <h4>5465465</h4>
                <h2>4564654</h2>
              </div>
              <div class="boton">
                <button>Añadir</button>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</section>
<section class="sect">
  <div class="ingresa container">
    <div class="msj">
      <p><b>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita mollitia sed, reprehenderit fugit, doloribus voluptatibus earum ducimus ipsam.</b></p>
    </div>
    <div class="ingre">
      <input type="text" placeholder="Lorem ipsum.">
      <button class="envi">Enviar</button>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia velit deserunt impedit!</p>
    </div>
  </div>
</section>
<main class="main promo2">
  <div class="container">
    <div class="row">
      <div class="col align-self-end">
          <div class="destacado">
              <h3>Producto del dia</h3>
              <h1>Sillón Irene</h1>
              <h2>S/ 2200.00</h2>
              <button class="btn btn-danger">Añadir</button>
          </div>
      </div>
    </div>
  </div>
</main>
<section class="section container">
  <div class="titulo">
    <h1>Catalogo</h1>
  </div>
  <div class="arrow">
    <div class="catalogo">
      <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
          <div class="producto carousel-item active">
            <img src="./assets/silla.jpg" alt="">
            <h5 class="new">NEW</h5>
            <h1>Swan</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, commodi.</p>
            <div class="costo">
              <div class="precio">
                <h4>5465465</h4>
                <h2>4564654</h2>
              </div>
              <div class="boton">
                <button>Añadir</button>
              </div>
            </div>
          </div>
          <div class="producto carousel-item">
            <img src="./assets/mesa.png" alt="">
            <h5 class="new">NEW</h5>
            <h1>Swan</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, commodi.</p>
            <div class="costo">
              <div class="precio">
                <h4>5465465</h4>
                <h2>4564654</h2>
              </div>
              <div class="boton">
                <button>Añadir</button>
              </div>
            </div>
          </div>
          <div class="producto carousel-item">
            <img src="./assets/lamp.jpg" alt="">
            <h5 class="new">NEW</h5>
            <h1>Swan</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, commodi.</p>
            <div class="costo">
              <div class="precio">
                <h4>5465465</h4>
                <h2>4564654</h2>
              </div>
              <div class="boton">
                <button>Añadir</button>
              </div>
            </div>
          </div>
          <div class="producto carousel-item">
            <img src="./assets/mesa2.png" alt="">
            <h5 class="new">NEW</h5>
            <h1>Swan</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, commodi.</p>
            <div class="costo">
              <div class="precio">
                <h4>5465465</h4>
                <h2>4564654</h2>
              </div>
              <div class="boton">
                <button>Añadir</button>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
  <div class="titulo">
    <h1>Catalogo</h1>
  </div>
  <div class="arrow">
    <div class="catalogo">
      <div class="producto">
        <img src="./assets/sillon3.png" alt="">
        <h5 class="sale">SALE</h5>
        <h1>Swan</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, commodi.</p>
        <div class="costo">
          <div class="precio">
            <h4>5465465</h4>
            <h2>4564654</h2>
          </div>
          <div class="boton">
            <button>Añadir</button>
          </div>
        </div>
      </div>
      <div class="producto">
        <img src="./assets/silla.png" alt="">
        <h1>Swan</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, commodi.</p>
        <div class="costo">
          <div class="precio">
            <h4>5465465</h4>
            <h2>4564654</h2>
          </div>
          <div class="boton">
            <button>Añadir</button>
          </div>
        </div>
      </div>
      <div class="producto">
        <img src="./assets/sillon2.png" alt="">
        <h5 class="new">NEW</h5>
        <h1>Swan</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, commodi.</p>
        <div class="costo">
          <div class="precio">
            <h4>5465465</h4>
            <h2>4564654</h2>
          </div>
          <div class="boton">
            <button>Añadir</button>
          </div>
        </div>
      </div>
      <div class="producto">
        <img src="./assets/lamp.png" alt="">
        <h5 class="sale">SALE</h5>
        <h1>Swan</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, commodi.</p>
        <div class="costo">
          <div class="precio">
            <h4>5465465</h4>
            <h2>4564654</h2>
          </div>
          <div class="boton">
            <button>Añadir</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="color">
<footer class="footer container">
  <div class="sec">
    <h3>Lorem.</h3>
    <p>Lorem ipsum <br> dolor sit amet <br> consectetur.</p>
  </div>
  <div class="sec">
    <h3>Lorem.</h3>
    <p>Lorem ipsum dolor <br> sit amet, consectetur <br> adipisicing elit. <br> Libero accusantium officia <br> atque sed excepturi.</p>
  </div>
  <div class="sec">
    <h3>Lorem.</h3>
    <p>Lorem ipsum <br> dolor sit <br> amet, consectetur <br> adipisicing elit. <br> Eligendi velit <br> delectus <br> eum obcaecati.</p>
  </div>
  <div class="secp">
    <h3>Lorem ipsum dolor sit.</h3>
    <ul>
      <li>
        <a href="#"><img src="./assets/visa.svg" ></a>
      </li>
      <li><a href="#"><img src="./assets/mastercard.svg" alt=""></a></li>
    </ul>
    <h3>Lorem ipsum dolor sit.</h3>
    <ul class="bug">
      <li><a href="#" class="flaticon-instagram"></a>
      </li>
      <li><a href="#" class="flaticon-facebook"></a></li>
      <li><a href="#" class="flaticon-youtube"></a></li>
    </ul>
    <h3>Lorem ipsum dolor sit.</h3>
    <p>Furniture@info.com</p>
  </div>
</footer>
</div>